// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// VARS
$green: #009900;

.welcome-page {
  .section-header {
    text-align: center;
    margin-top: 0;
  }

  .spreads-table {

    .header-row {
      border-bottom: 2px solid red;
    }

    th, td {
      vertical-align: middle;
      cursor: default;
      margin: 0;
      padding: 10px;

      text-align: center;
      border-top: none;
    }

    .data-row {
      text-align: center;
      border-bottom: 1px solid lightgrey;
      font-weight: 300;

      -o-transition:font-weight .08s ease-out, background .08s ease-out;
      -ms-transition:font-weight .08s ease-out, background .08s ease-out;
      -moz-transition:font-weight .08s ease-out, background .08s ease-out;
      -webkit-transition:font-weight .08s ease-out, background .08s ease-out;
      transition:font-weight .08s ease-out, background .08s ease-out;

      &:hover {
        font-weight: 600;
        background: white;
      }

      td.team-abbr {
        cursor: pointer;
      }

      td.selected {
        font-weight: 600;
        color: $green;
        border: none;
        padding: 9px;

        span {
          display: block;
          background-color: #F5F5F5;
          border: 1px solid $green;
          border-radius: 1px;
          box-shadow: 1px 1px 3px;
        }
      }
    }
  }
}
